.modal {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputField {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  height: calc(100% - 40px);
  margin-bottom: 18px;
  font-size: 16px;
  outline-color: #fc999f;
  caret-color: #44c2eb;
  user-select: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  -webkit-touch-callout: auto;
}

.cancelButton {
  background-color: rgb(154, 154, 154);
  color: white;
  padding: 10px 15px;
  margin-left: 8px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.submitButton {
  background-color: #44c2eb;
  color: white;
  width: 96px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.textLength {
  font-size: 10px;
  position: fixed;
  right: 5%;
}

.submitButton:hover {
  opacity: 0.6;
}
