.banner {
  background-color: #fff;
  background: linear-gradient(to left, #fc99a084 0%, #44c1eb83 100%);
  border-bottom: 1px solid #dbdbdb;
  align-items: center;
  margin: 0 auto;
  position: relative;
  display: flex;

  justify-content: space-around;
  padding: 5px 2px;
}

.close {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 18px;
  padding: 1px;
  text-align: center;
  color: #fff;
  background-color: rgb(97, 97, 97);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  margin: 0 0.4em;
}

.icon {
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  margin: 0 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
}

.title {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 2px;
}

.text {
  font-size: 11px;
  color: rgb(20, 20, 20);
  padding: 0 1em;
  white-space: nowrap;
}

.addButton {
  margin: 0 4px 0 0;
  padding: 6px 13px;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  background: linear-gradient(to top, #0bade3, #20c3f9 40%);
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.372);
  margin-right: 0.5em;
  text-shadow: 0 0 1 px rgba(0, 0, 0, 0.508);
  border: none;
  letter-spacing: 0.09em;
  border-radius: 30px;
}
