.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(83, 83, 83, 0.583);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
.safari {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: rgb(70, 70, 70);
  font-size: 14px;
  width: 80%;
  height: 70%;
  max-width: 400px;
  overflow-y: scroll;
  animation: popup 0.3s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
  text-align: center;
  margin-bottom: -30%;
  padding-bottom: 10px;
}
.safari::after {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  border-width: 70px 70px 0 70px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
  z-index: 100;
}
.apppic {
  width: 100%;
}
.chorome {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: rgb(70, 70, 70);
  font-size: 14px;
  width: 80%;
  height: auto;
  max-width: 400px;
  overflow-y: scroll;
  animation: popup 0.3s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
  text-align: center;
  margin-top: -50%;
}
.chorome ::after {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  content: "";
  right: 15%;
  margin-bottom: 10px;
  border-width: 0 70px 70px 70px;
  border-style: solid;
  border-color: transparent transparent #617079 transparent;
  z-index: 100;
  margin-top: 10px;
}

.isiOSchorome {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: rgb(70, 70, 70);
  font-size: 14px;
  width: 80%;
  height: auto;
  max-width: 400px;
  overflow-y: scroll;
  animation: popup 0.3s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
  text-align: center;
  margin-top: -20%;
}
.isiOSchorome ::after {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  content: "";
  right: 15%;
  margin-bottom: 10px;
  border-width: 0 70px 70px 70px;
  border-style: solid;
  border-color: transparent transparent #617079 transparent;
  z-index: 100;
  margin-top: 10px;
}
.title {
  font-weight: bold;
  font-size: 17px;
  padding: 10px 0;
  color: rgb(37, 37, 37);
}
.imageContainer {
  vertical-align: middle;
}
.text {
  font-size: 14px;
  color: rgb(70, 70, 70);
  padding: 0 4px;
}
.about {
  color: #0bade3;
  background: linear-gradient(to left, #fc99a042 0%, #44c1eb41 100%);
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 20px;
  text-align: left;
  line-height: 2;
}
.ul {
  text-align: left;
  margin-top: 10px;
  padding: 8px;
  letter-spacing: 0.07em;
  margin-bottom: 0px;
}
.li {
  padding: 3px 0;
}
