.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 5%;
  padding: 0 px;
  margin-top: -80px;
  margin-bottom: 18px;
  justify-content: flex-end;
}
.verticalContainer {
  display: flex;
  flex-direction: column;
}

.plus {
  padding-top: 4px;
  padding-left: -10px;
}

.news {
  height: 23px;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: #6eb9e48e 1px solid;
  color: #6eb9e4;
  border-radius: 20px;
  font-size: 11px;
  background: linear-gradient(#ffffff, #f5f5f5dc 90%);
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 2px 7px 2px 7px; /* Increase padding to provide a larger click target. */
  width: auto;
  box-sizing: border-box; /* Ensures that the padding is included in the element's total width and height. */
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.news:hover {
  opacity: 0.6;
}
.hatena {
  height: 23px;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: #7676765a 1px solid;
  color: #757577;
  border-radius: 20px;
  font-size: 11px;
  background: linear-gradient(#ffffff, #f5f5f5dc 90%);
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 2px 7px 2px 7px; /* Increase padding to provide a larger click target. */
  width: auto;
  box-sizing: border-box; /* Ensures that the padding is included in the element's total width and height. */
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.hatena:hover {
  opacity: 0.6;
}

.next {
  margin-left: 2px;
}

.point {
  margin-left: 10%;
  border-radius: 80px;
  height: 30px;
  font-size: 1.2em;
  font-weight: bolder;
  user-select: text;
  display: flex;
  align-items: center;
}
