.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  background-color: white;
  padding: 8px;
  border-radius: 17px;
  position: relative;
  width: 80%;
  max-width: 600px;
  max-height: 83%;
  overflow-y: auto;
  color: #5e5e5e;
  font-size: 14px;
  animation: popup 0.3s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
}

.modalContent ul {
  padding-left: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.modalContent li {
  padding-bottom: 5px;
}

.title {
  font-size: 18px;
  margin-top: -5px;
  margin-bottom: 5px;
  letter-spacing: 0.03em;
  border-bottom: 1px solid #cfcfcf;
  font-size: 15px;
}
.label {
  display: flex;
  align-items: center; /* アイコンを中央揃えする */
  padding: 2px 7px;
  border-radius: 30px;
  background: linear-gradient(to top, #e71740, #f82d55 40%);
  color: #fff;
  width: 100px;
  text-align: center;
  box-sizing: border-box;
  font-weight: 600;
  height: 20px;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.07em;
  justify-content: center;
  margin-bottom: 5px;
}
.live_label {
  display: flex;
  align-items: center; /* アイコンを中央揃えする */
  padding: 2px 7px;
  border-radius: 30px;
  background: linear-gradient(to top, rgb(134, 17, 192), rgb(155, 43, 212) 40%);
  color: #fff;
  width: 105px;
  text-align: center;
  font-weight: 600;
  height: 17px;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.07em;
  justify-content: center;
  margin-bottom: 5px;
  white-space: nowrap;
}
.board_label {
  display: flex;
  align-items: center; /* アイコンを中央揃えする */
  padding: 2px 7px;
  border-radius: 30px;
  background: linear-gradient(to top, #eb7134, #f79a3d 40%);
  color: #fff;
  width: 70px;
  text-align: center;
  font-weight: 600;
  height: 17px;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.07em;
  justify-content: center;
  margin-bottom: 5px;
}

.taiki {
  display: flex;
  align-items: center; /* アイコンを中央揃えする */
  padding: 2px 7px;
  border-radius: 30px;
  background: linear-gradient(to top, rgb(1, 154, 214), rgb(0, 171, 239) 40%);
  color: #fff;
  width: 105px;
  text-align: center;
  font-weight: 600;
  height: 17px;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.07em;
  justify-content: center;
  margin-bottom: 5px;
  white-space: nowrap;
}

.calling {
  display: flex;
  align-items: center; /* アイコンを中央揃えする */
  padding: 2px 7px;
  border-radius: 30px;
  background: linear-gradient(to top, #ff6383, #f6899f 40%);
  color: #fff;
  width: 70px;
  text-align: center;
  font-weight: 600;
  height: 17px;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.07em;
  justify-content: center;
  margin-bottom: 5px;
}

.space {
  height: 4px;
}

.beginner {
  display: flex; /* 横並びにするための設定 */
  margin-bottom: -35px;
}

.beginnerIcon {
  position: relative;
  width: 30%;
  height: 55px;
  overflow: hidden;
  z-index: 2;
}

.beginnerIcon span {
  display: inline-block;
  position: absolute;
  padding: 3px 0;
  left: -15px;
  top: 0px;
  width: 89px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  line-height: 8px;
  background: linear-gradient(
    to right,
    #21a852d5 30%,
    #8bdfabd5 50%,
    #21a852d5 70%
  );
  color: #fffff1;
  border-bottom: 1px solid #f6e374;
  border-top: 1px solid #f6e374;
  letter-spacing: 0.07em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.495);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.342);
  z-index: 100;
  overflow: hidden; /* 疑似要素がはみ出すことを防ぐために追加 */
}

.beginnerIcon span::before {
  content: "";
  position: absolute;
  top: 0; /* リボンの上部から開始 */
  left: -100%; /* この位置からアニメーションが開始されます */
  height: 50%; /* リボンの上半分だけをカバーするようにします */
  width: 200%; /* シャイニーエフェクトが完全に左から右に移動するのを確保するためにリボンの幅の2倍にします */
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  ); /* シャイニーエフェクトの本体 */
  transform: translateY(-50%) rotate(45deg); /* エフェクトをリボンの上半分に合わせるための位置調整 */
  pointer-events: none; /* このエフェクトがクリックやタッチのジェスチャーを遮らないようにする */
  animation: shine 1.5s infinite ease-in-out; /* シャイニーエフェクトをアニメーションさせる */
}

.crockIcon {
  width: 15px;
  height: 15px;
  filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff)
    drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff);
  margin-right: 3px;
  margin-bottom: -3px;
}

.green {
  color: rgb(67, 220, 43);
}

.orange {
  color: rgb(255, 157, 0);
}

.gray {
  color: rgb(73, 73, 73);
}

.story {
  border: 2px solid #f75388;
  border-radius: 5px;
}

.closeButton {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.342);
  border: #5e5e5e62 1px solid;
  padding: 5px 15px 5px 15px;
  color: #3f3646;
  font-size: 14px;
  margin-top: 10px;
}
.closeButton:hover {
  opacity: 0.6;
}
@keyframes popup {
  0% {
    transform: translateY(40px) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
  }
  80%,
  100% {
    opacity: 1;
  }
}
