.nextButtonContainer {
  position: relative;
  width: 95%;
  padding: 5px 5px 20px 5px;
  margin: 0 auto;
  z-index: 1000;
}

.priceRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #4c4c4c;
  padding: 5px;
  margin-top: -10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nextButton {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 12px 0;
  background-color: #32bdec;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}

.nextButton:hover {
  background-color: #2aa8d5;
}

.nextButton:disabled {
  background-color: #a0d8eb;
  cursor: not-allowed;
}

.closeButton {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 12px 0;
  background-color: #32bdec;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.closeButton:hover {
  background-color: #2aa8d5;
}

.selectedCourse {
  border: 3px solid #32bdec;
  box-shadow: 0 0 8px rgba(50, 189, 236, 0.5);
  position: relative;
  background-color: #32bdec;
}

.selectedCourse::before {
  content: "✓";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 24px;
  height: 24px;
  background-color: #32bdec;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  z-index: 2;
}

.selectedCourse::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #32bdec1b;
}
