.container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding-bottom: 60px;
  text-align: center;
  z-index: 1000;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.button {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 90px;
  margin-top: 35%;
  padding: 9px 12px;
  font-weight: bold;
  border-radius: 100vh;
  box-shadow: 0px 5px 0 #cb9200;
  background: linear-gradient(to top, #e9ab00, #fcc107 40%);
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}
.onetapbutton {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 90px;
  margin-top: 35%;
  padding: 9px 12px;
  font-weight: bold;
  border-radius: 100vh;
  box-shadow: 0px 5px 0 #cb9200;
  background: linear-gradient(to top, #e9ab00, #fcc107 40%);
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}
.one {
  position: absolute;
  top: -45%;
  margin-left: 5px;
  font-size: 9px;
  white-space: nowrap;
  text-shadow:
    0 0 3px #fff,
    0 0 3px #fff,
    0 0 3px #fff,
    0 0 3px #fff,
    0 0 3px #fff,
    0 0 3px #fff,
    0 0 3px #fff,
    0 0 3px #fff,
    0 0 3px #fff,
    0 0 3px #fff,
    0 0 3px #fff,
    0 0 3px #fff,
    0 0 3px #fff,
    0 0 3px #fff,
    0 0 3px #fff,
    0 0 3px #fff;
  color: #ff7e8d;
}
.videochatbutton {
  margin-left: 8%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 90px;
  margin-top: 35%;
  padding: 9px 12px;
  font-weight: bold;
  border-radius: 100vh;
  background: linear-gradient(45deg, #5010d2, #ef3275, #ffd480);
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}

.videochatbutton:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #300783, #a01747, #bb9750);
  transform: translate3d(0px, 5px, 0) scale(1);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.videochatbutton::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.voicevideobutton {
  margin-left: 8%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 90px;
  margin-top: 35%;
  padding: 9px 12px;
  font-weight: bold;
  border-radius: 100vh;
  background: linear-gradient(
    90deg,
    #4794ff 0%,
    #4794ff 50%,
    #f54646 50%,
    #f54646 100%
  );

  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}
.voicevideobutton:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to left,
    #bd3c3c 0%,
    #bd3c3c 50%,
    #1c64c8 50%,
    #1c64c8 100%
  );
  transform: translate3d(0px, 5px, 0) scale(1);
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.voicevideobutton::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
.voicebutton {
  margin-left: 8%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 90px;
  margin-top: 35%;
  padding: 9px 12px;
  font-weight: bold;
  border-radius: 100vh;
  background: linear-gradient(to top, #4794ff, #4794ff 40%);
  box-shadow: 0px 5px 0 #1c64c8;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}

.voicebutton:hover {
  transform: translate3d(0, 5px, 0);
  color: #ffffff;
  box-shadow: none;
  background: #4794ff;
}

.videobutton {
  margin-left: 16%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 90px;
  margin-top: 35%;
  padding: 9px 12px;
  font-weight: bold;
  border-radius: 100vh;
  background: linear-gradient(to top, #df4343, #f95757 40%);
  box-shadow: 0px 5px 0 #bd3c3c;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}

.nobutton {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 90px;
  margin-top: 35%;
  padding: 9px 12px;
  font-weight: bold;
  border-radius: 100vh;
  box-shadow: 0px 5px 0 rgb(106, 106, 106);
  color: #fff;
  background: linear-gradient(to top, #848484, #9b9b9b 40%);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.voicevideobutton > div,
.voicebutton > div,
.videobutton > div,
.videochatbutton > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.voicevideobutton img,
.voicebutton img,
.videobutton img,
.callbutton img {
  display: block;
}

.nobutton > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nobutton img {
  display: block;
}

.button:hover {
  transform: translate3d(0, 5px, 0);
  color: #ffffff;
  box-shadow: none;
  background: #fcc107;
}

.videobutton:hover {
  transform: translate3d(0, 5px, 0);
  color: #ffffff;
  box-shadow: none;
  background: #f95757;
}

.button > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button img {
  display: block;
}

.mo {
  margin-top: -10%;
  white-space: nowrap;
}

.videomo {
  margin-top: -5%;
  line-height: 0.9em;
  white-space: nowrap;
}

.videocall {
  font-size: 8px;
  white-space: nowrap;
}

.pt {
  font-size: 9px;
  white-space: nowrap;
  position: absolute;
  margin-bottom: 7%;
  font-weight: normal;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  position: fixed;
  width: auto;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  padding: 20px 30px 20px 30px;
  background-color: white;
  z-index: 1000;
  animation: popup 0.3s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
  font-size: 14px;
  color: #3f3646;
  animation: popup 0.3s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
}

.pointmodal {
  position: fixed;
  width: auto;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  padding: 20px 10px 20px 10px;
  background-color: white;
  z-index: 1000;
  animation: popup 0.3s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
  font-size: 14px;
  color: #3f3646;
  animation: popup 0.3s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
}
.closeIcon {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 28px;
  height: 28px;
  background-color: #2e2e2e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  border: none;
  color: #ffffff;
  transition: background-color 0.3s;
  z-index: 500;
}
.on {
  font-size: 16px;
  color: #44c2eb;
  font-weight: bold;
}
.tapPurchase {
  background: linear-gradient(to top, rgb(43, 177, 222), #44c2eb 60%);
  color: white;
  padding: 7px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  border-radius: 30px;
  margin-top: 14px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.ok {
  background: linear-gradient(to top, rgb(43, 177, 222), #44c2eb 60%);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  margin-top: 14px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.permission {
  filter: drop-shadow(0 2px 3px #5151513c);
}

.event {
  font-size: 12px;
  white-space: nowrap;
  filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff)
    drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff)
    drop-shadow(0 0 1px #fff);
  bottom: 0;
  position: absolute;
  text-align: center;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2px;
  display: inline-block;

  background: -webkit-linear-gradient(0deg, #1dc9fd, #ff8c00, #ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.e {
  position: relative;
  display: flex;
  border: 2px solid #ff792c;
  border-radius: 10px;
  width: 95%;
  box-shadow: 0 0 5px #bababa;
  margin-bottom: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 70px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #fff 30%,
    #ff792c 30%,
    #ff792c 100%
  );
}
.e:hover {
  opacity: 0.6;
}
.priceContainer {
  display: flex;
  align-items: center;
}
.ptt {
  font-size: 18px;
}
.text {
  font-size: 28px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.329);
}
.special {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0.3em;
  padding-top: 20%;
}
.specialPrice {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  font-weight: bolder;
}
.specialnumber {
  color: #3a3a3a;
  font-size: 15px;
  text-shadow: none;
}
.yen0 {
  font-weight: bold;
  font-size: 10px;
  margin-left: 3px;
  color: #202020;
}
.number0 {
  font-weight: bold;
  font-size: 18px;
  color: #202020;
}
.banner {
  z-index: 2;
  position: absolute;
  right: 0;
  margin-top: -40px;
  margin-right: -10px;
  width: auto;
  height: auto;
  font-size: 13px;
  filter: drop-shadow(0px 0px 1px #51515163);
}
