.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: white;
  bottom: 0;
  position: absolute;
  height: 60%;
  width: 100%;
  border: none;
  overflow: scroll;
  padding-top: 1px;
  border-radius: 10px;
  z-index: 10001;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.4);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
  z-index: 10002;
}

.close:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.closeIcon {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -58%);
}
