.container {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  position: relative;
  gap: 5px;
  margin: 0 auto;
  padding: 0;
  width: 1024px;
  max-width: 95%;
  justify-content: center;
}

.cell {
  flex-shrink: 0;
  margin-bottom: 10px;
  justify-content: center;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  position: relative;
}
.liveTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.video_call_label {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center; /* アイコンを中央揃えする */
  padding: 2px 7px;
  border-radius: 30px;
  background: linear-gradient(to top, #e71740, #f82d55 40%);
  color: #fff;
  width: auto;
  text-align: center;
  box-sizing: border-box;
  font-weight: 600;
  height: 20px;
  font-size: 10px;
  line-height: 16px;
  z-index: 1;
  letter-spacing: 0.07em;
  justify-content: center;
  animation: anime1 0.9s ease 0s infinite alternate;
  transform-origin: center;
}
.live_label {
  position: absolute;
  top: 0px;
  left: 0;
  display: flex;
  align-items: center; /* アイコンを中央揃えする */
  padding: 2px 7px;
  border-radius: 30px;
  background: linear-gradient(to top, rgb(0, 141, 197), rgb(0, 171, 239) 40%);
  color: #fff;
  width: auto;
  text-align: center;
  box-sizing: border-box;
  font-weight: 600;
  height: 20px;
  font-size: 10px;
  line-height: 16px;
  z-index: 1;
  letter-spacing: 0.07em;
  justify-content: center;
  animation: anime1 0.9s ease 0s infinite alternate;
  transform-origin: center;
}
.sidewatch_label {
  position: absolute;
  top: 0px;
  left: 0;
  display: flex;
  align-items: center; /* アイコンを中央揃えする */
  padding: 2px 7px;
  border-radius: 30px;
  background: linear-gradient(to top, rgb(134, 17, 192), rgb(155, 43, 212) 40%);
  color: #fff;
  width: auto;
  text-align: center;
  box-sizing: border-box;
  font-weight: 600;
  height: 20px;
  font-size: 10px;
  line-height: 16px;
  z-index: 1;
  letter-spacing: 0.07em;
  justify-content: center;
  animation: anime1 0.9s ease 0s infinite alternate;
  transform-origin: center;
}

@keyframes anime1 {
  from {
    transform: scale(0.9, 0.9);
  }
  to {
    transform: scale(1, 1);
  }
}

.beginnerIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mark {
  margin: 0;
  padding: 0;
  display: block;
}

.thumbnail {
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 266px;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.containerFixedHeight {
  height: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}

.none {
  width: 100%;
  height: 100%;
  font-size: 12px;
  display: block;
  background-color: #fff;
  color: rgb(154, 154, 154);
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 40%;
}

.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #a3a3a3f5;
  border-top-color: transparent;
  animation: rot1 1.2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 25px;
  height: 25px;
}

@keyframes rot1 {
  to {
    transform: rotate(360deg);
  }
}

.userStatus {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4px;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
}

.avatarIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  color: #ffffff;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 0;
  flex: 1;
  overflow: hidden;
}

.nameContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.age {
  font-size: 10px;
  color: #ffffff;
  flex-shrink: 0;
}

.about {
  margin-top: -2px;
}

.aboutText {
  color: #ffffff;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  max-width: 15ch;
  opacity: 0.8;
  line-height: 1;
}

.liveMessage {
  font-size: 11px;
}

.title {
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  width: 100%;
  font-weight: bold;
  background: white;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  position: relative;
}
.imageContainer {
  display: flex;
  align-items: center;
  position: absolute;
  left: 6px;
}

.bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 7%;
  padding: 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #b7b7b7;
  width: 100%;
  justify-content: space-between;
  white-space: nowrap;
}

.hatena {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #757577;
  color: #757577;
  border-radius: 20px;
  font-size: 11px;
  background-color: #fff;
  margin-right: 10px;
  padding: 2px 7px 2px 6px; /* Increase padding to provide a larger click target. */
  width: auto;
  box-sizing: border-box; /* Ensures that the padding is included in the element's total width and height. */
}

.genzai {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #202020cb;
  border-radius: 5px;
  border: 1px solid #757577;
  font-size: 16;
  margin-right: 10px;
  padding: 2px 7px 2px 6px;
  width: auto;
  box-sizing: border-box;
}
.bold {
  font-weight: bold;
  margin-left: 1px;
  margin-right: 1px;
  font-size: 18px;
  color: #202020cb;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 200px);
    width: 615px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 200px);
    width: 410px;
  }
}

@media screen and (max-width: 390px) {
  .container {
    grid-template-columns: repeat(2, 185px);
    width: 375px;
    gap: 5px;
  }
  .thumbnail {
    width: 185px;
    height: 246px;
  }
  .userStatus {
    width: 185px;
  }
  .username {
    width: 185px;
  }
  .beginnerIcon {
    right: 10px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    grid-template-columns: repeat(2, 170px);
    width: 345px;
  }
  .thumbnail {
    width: 170px;
    height: 226px;
  }
  .userStatus {
    width: 170px;
  }
  .username {
    width: 170px;
  }
  .beginnerIcon {
    right: 10px;
  }
}
