.container {
  display: flex;
  position: relative;
  line-height: 1.5;
  padding: 8px 2px 8px 8px;
  font-weight: bold;
  color: #5b5b5b;
  border-bottom: 2px solid #aeaeae;
  background-color: #f4f7f9;
  width: 99%;
}

.scroll {
  display: flex;
  overflow-x: scroll;
}

.rabel {
  position: absolute;
  display: flex;
  right: 0;
  margin-right: 250px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #fff;
  border-radius: 16px;
  letter-spacing: 0.03em;
}

.selected {
  width: 110px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s,
    color 0.3s;
  animation-delay: 1s;
  background: linear-gradient(#ff758a, #f6445f 90%);
}

.notselected {
  width: 110px;
  height: 30px;
  border: none;
  color: #757577;
  font-size: 12px;
  line-height: 24px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 1.5s toggleFade infinite;
  animation-delay: 1s;
  background: transparent;
  cursor: pointer;
}

.notselected:hover {
  opacity: 0.6;
}

.search {
  margin: 0 8px 0;
  background: linear-gradient(#ffffff, #f5f5f5 90%);
  border-radius: 4px;
  height: 30px;
  width: 80px;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 0.2em;
  color: #757577;
  position: absolute;
  right: 0;
  display: flex;
  cursor: pointer;
  margin-right: 125px;
  border: 1px solid #757577;
  border-radius: 16px;
  padding: 0 8px;
}

.filterPic {
  margin-right: 2px;
}

.search:hover {
  opacity: 0.6;
}

.reload {
  width: 100px;
  height: 26px;
  position: relative;
  border: 1px solid #ff5871a1;
  color: #ff5871;
  font-size: 12px;
  border-radius: 16px;
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 1.5s toggleFade infinite;
  animation-delay: 1s;
  background: linear-gradient(#ffffff, #f5f5f5dc 90%);
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-weight: normal;
  margin-right: 10px;
  padding: 2px 0;
}

.reload:hover {
  opacity: 0.5;
}

.dliRedo {
  display: inline-block;
  vertical-align: middle;
  color: #ff5871;
  line-height: 1;
  position: relative;
  line-height: 1;
  position: relative;
  width: 1em;
  height: 1em;
  margin-left: 5px;
  transform: rotate(45deg);
}

.dliRedo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border: 0.1em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  transform: rotate(-45deg);
}

.dliRedo::after {
  content: "";
  position: absolute;
  top: 0.05em;
  right: 50%;
  width: 0.2em;
  height: 0.2em;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: content-box;
  transform: translateX(0.14142em) rotate(45deg);
  transform-origin: top right;
}
