.container {
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  list-style-position: inside;
  padding: 10px;
  gap: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
}

.container::-webkit-scrollbar {
  display: none;
}

.cell {
  flex: 0 0 auto;
  width: 170px;
  position: relative;
  margin: 0;
  padding-top: 5px;
  cursor: pointer;
}

.set {
  width: 100%;
  position: relative;
}

.liveItemsContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin-left: 1%;
  gap: 10px;
  white-space: nowrap;
}

.liveCell {
  min-width: 170px;
  width: 170px;
  height: auto;
  justify-content: center;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  margin: 0 5px;
  margin-bottom: 1%;
  margin-top: 2%;
  position: relative;
}

.horizontalScrollContainer {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.gridScrollContainer {
  display: grid;
  grid-template-columns: repeat(2, 45vw);
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  grid-gap: 1%;
  justify-items: center;
  padding: 0;
  background-color: #ffffff;
  width: max-content;
  min-width: 100%;
  margin: 10px 0;
  margin-left: 2%;
}

.video_call_label {
  position: absolute;
  top: -5px;
  left: -2px;
  display: flex;
  align-items: center; /* アイコンを中央揃えする */
  padding: 0px 7px;
  border-radius: 30px;
  background: linear-gradient(to top, #e71740, #f82d55 40%);
  color: #fff;
  width: auto;
  text-align: center;
  box-sizing: border-box;
  font-weight: 600;
  height: 19px;
  font-size: 9px;
  line-height: 16px;
  z-index: 1;
  letter-spacing: 0.07em;
  justify-content: center;
  animation: anime1 0.9s ease 0s infinite alternate;
  transform-origin: center;
  white-space: nowrap;
}
.live_label {
  position: absolute;
  top: -5px;
  left: -2px;
  display: flex;
  align-items: center; /* アイコンを中央揃えする */
  padding: 0px 5px;
  border-radius: 30px;
  background: linear-gradient(to top, rgb(0, 141, 197), rgb(0, 171, 239) 40%);
  color: #fff;
  width: 100px;
  text-align: center;
  box-sizing: border-box;
  font-weight: 600;
  height: 19px;
  font-size: 11px;
  line-height: 16px;
  z-index: 1;
  letter-spacing: 0.07em;
  justify-content: center;
  animation: anime1 0.9s ease 0s infinite alternate;
  transform-origin: center;
  white-space: nowrap;
}

.sidewatch_label {
  position: absolute;
  top: -5px;
  right: -2px;
  display: flex;
  align-items: center; /* アイコンを中央揃えする */
  padding: 0px 7px;
  border-radius: 30px;
  background: linear-gradient(to top, rgb(134, 17, 192), rgb(155, 43, 212) 40%);
  color: #fff;
  width: 100px;
  text-align: center;
  box-sizing: border-box;
  font-weight: 600;
  height: 19px;
  font-size: 11px;
  line-height: 16px;
  z-index: 1;
  letter-spacing: 0.07em;
  justify-content: center;
  animation: anime1 0.9s ease 0s infinite alternate;
  transform-origin: center;
  white-space: nowrap;
}

@keyframes anime1 {
  from {
    transform: scale(0.9, 0.9);
  }
  to {
    transform: scale(1, 1);
  }
}

.liveIcon {
  top: 0%;
  left: 0%;
  padding: 1px 10px;
  font-size: 10px;
  overflow: hidden;
  z-index: 10;
  position: absolute;
  background-color: #e71939;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5vw 0 0 0;
  font-weight: bold;
  box-shadow: 0 0 2px rgba(69, 69, 69, 0.37);
}

.hLevel {
  top: 0%;
  right: 0%;
  padding: 1px 10px;
  font-size: 8px;
  overflow: hidden;
  z-index: 10;
  position: absolute;
  background-color: #0000008d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5vw 0 0;
  font-weight: bold;
  box-shadow: 0 0 2px rgba(69, 69, 69, 0.37);
}

.hLevelText {
  font-size: 10px;
}

.tenmetu {
  margin-right: 2px;
  font-size: 16px;
  -webkit-animation: tenmetu 1.5s ease-in-out infinite alternate;
  -moz-animation: tenmetu 1.5s ease-in-out infinite alternate;
  animation: tenmetu 0.8s ease-in-out infinite alternate;
}

@-webkit-keyframes tenmetu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes tenmetu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tenmetu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.beginnerIcon span {
  display: inline-block;
  position: absolute;
  text-align: center;
  z-index: 100;
  bottom: 1px;
  left: 3px;
  animation: zoomFade 2s ease-in-out infinite;
}
@keyframes zoomFade {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scaleX(1);
  }
}

.mark {
  margin: 0;
  padding: 0;
  display: block;
}

.thumbnail {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 5vw;
}

.thumbnail img {
  width: 100%;
  object-fit: contain;
  transform: scale(1.3); /* 1.3倍に拡大 */
  transform-origin: center; /* 中心から拡大 */
}

.thumbnail::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  border-radius: 0 0 5vw 5vw; /* 下部のみに角丸を適用 */
  z-index: 5;
}

/* sideWatch特有のスタイル */
.sideWatchThumbnail {
  composes: thumbnail;
  background-color: #000;
}

.thumbnailBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  transform: scale(1.1);
  opacity: 0.5;
  z-index: 1;
}

.thumbnailContent {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 67.5px; /* 120px * 9/16 for mobile */
  display: flex;
  justify-content: center;
  align-items: center;
}

.label img {
  margin-right: 5px; /* アイコンの間に余白を追加する */
}

.containerFixedHeight {
  height: 120px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}

.none {
  width: 100%;
  font-size: 12px;
  display: flex;
  background-color: #fff;
  color: rgb(154, 154, 154);
  text-align: center;
  min-height: 110px;
  height: 110px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: center; /* 水平方向中央揃え */
  align-items: center; /* 垂直方向中央揃え */
}

.loader {
  border-radius: 50%;
  border: 3px solid #a3a3a3f5;
  border-top-color: transparent;
  animation: rot1 1.2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 25px;
  height: 25px;
}

@keyframes rot1 {
  to {
    transform: rotate(360deg);
  }
}

.userStatus {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 6%;
  margin-left: 10%; /* 右から左へ移動 */
}

.username {
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  white-space: nowrap; /* 文字を折り返さないように指定 */
  overflow: hidden; /* テキストがボックスに収まらない場合に非表示にする */
  text-overflow: ellipsis; /* テキストがボックスに収まらない場合に...を追加する */
  position: absolute;
  z-index: 10;
  width: 99%;
  margin-left: -15px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.495);
}

.age {
  margin-right: 1px;
  font-size: 10px;
  align-items: center;
}

.sai {
  font-size: 9px;
  margin-right: 3px;
  z-index: 13;
}

.status-green {
  width: 8px;
  height: 8px;
  background-color: rgb(105, 243, 105);
  border-radius: 50%;
  z-index: -1;
}

.status-orange {
  width: 8px;
  height: 8px;
  background-color: orange;
  border-radius: 50%;
  z-index: -1;
}

.status-grey {
  width: 8px;
  height: 8px;
  background-color: grey;
  border-radius: 50%;
  z-index: -1;
}

.count {
  color: #fff;
  border-radius: 30px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 25px;
  margin-left: -3px;
  background-color: rgba(104, 229, 187, 0.647);
  font-size: 11px;
  padding: 2px 10px 4px 8px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.humanlogo {
  margin-right: 6px;
  vertical-align: middle;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.127));
}

.lovense {
  background-color: #fff;
  border-radius: 100%;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.titleContainer {
  display: flex;
  align-items: flex-end;
}

.title {
  margin: 0;
}

.reload {
  background: linear-gradient(#ffffff, #f5f5f5 90%);
  border-radius: 4px;
  height: 30px;
  width: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  line-height: 0.8em;
  color: #757577;
  border: #7676765a 1px solid;
  margin-right: 10px;
}

.about {
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  right: 5px;
  width: 100%;
  opacity: 0.8;
}
