.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(39, 39, 39, 0.5);
  z-index: 500;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.ok {
  background: linear-gradient(to top, rgb(43, 177, 222), #44c2eb 60%);
  color: white;
  padding: 7px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  border-radius: 30px;
  margin-top: 14px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.modal {
  z-index: 2;
  width: 60%;
  padding: 1em;
  background: #fff;
  border-radius: 5%;
  animation: popup 0.2s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
  text-align: center;
}

.okoverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(39, 39, 39, 0.5);
  z-index: 600;
}

.okmodal {
  z-index: 20;
  width: 60%;
  padding: 1em;
  background: #fff;
  border-radius: 2vh;
  font-size: 13px;
  color: #3f3646;
  animation: popup 0.3s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
}

.showmodalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(39, 39, 39, 0.5);
  z-index: 600;
}

.showmodal {
  z-index: 20;
  width: 60%;
  padding: 1em;
  background: #fff;
  border-radius: 2vh;
  font-size: 15px;
  color: #3f3646;
}

.okok {
  background: linear-gradient(to top, rgb(43, 177, 222), #44c2eb 60%);
  color: white;
  padding: 7px 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
  margin-top: 14px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 40px;
}

.request {
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 200px;
  margin-top: 5%;
  padding: 9px 18px;
  font-weight: bold;
  border-radius: 3vh;
  background: linear-gradient(to top, #df4343, #f95757 40%);
  box-shadow: 0px 5px 0 #bd3c3c;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px #51515148);
  text-shadow: rgba(22, 22, 22, 0.122) 0 0 2px;
}
.request:hover {
  transform: translate3d(0, 5px, 0);
  color: #808080;
  box-shadow: none;
  background: #df4343;
}

.norequest {
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 200px;
  margin-top: 5%;
  padding: 9px 18px;
  font-weight: bold;
  border-radius: 3vh;
  box-shadow: 0px 5px 0 rgb(106, 106, 106);
  background: linear-gradient(to top, #848484, #9b9b9b 40%);
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px #51515148);
  text-shadow: rgba(22, 22, 22, 0.122) 0 0 2px;
}

.videochatrequest {
  font-size: 100px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  gap: 10px;
  height: 30px;
  width: 200px;
  margin-top: 5%;
  padding: 9px 18px;
  font-weight: bold;
  border-radius: 3vh;
  background: linear-gradient(45deg, #5010d2, #ef3275, #ffd480);
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px #51515148);
  position: relative;
  text-shadow: rgba(22, 22, 22, 0.122) 0 0 2px;
}
.videochatrequest:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #300783, #a01747, #bb9750);
  transform: translate3d(0px, 5px, 0) scale(1);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.videochatrequest::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.voicerequest {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 80px;
  margin-top: 5%;
  padding: 9px 18px;
  font-weight: bold;
  border-radius: 1vh;
  box-shadow: 0px 5px 0 #30b7b9;
  background: linear-gradient(to top, #55dddf, #8de7e9 60%);
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px #51515148);
  text-shadow: rgba(22, 22, 22, 0.122) 0 0 2px;
}
.voicerequest:hover {
  transform: translate3d(0, 5px, 0);
  color: #ffffff;
  box-shadow: none;
  background: #8de7e9;
}

.videocallbutton {
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 200px;
  margin-top: 5%;
  padding: 9px 18px;
  font-weight: bold;
  border-radius: 3vh;
  background: linear-gradient(to top, #df4343, #f95757 40%);
  box-shadow: 0px 5px 0 #bd3c3c;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px #51515148);
  text-shadow: rgba(22, 22, 22, 0.122) 0 0 2px;
}
.videocallbutton:hover {
  transform: translate3d(0, 5px, 0);
  color: #c0c0c0;
  box-shadow: none;
  background: #df4343;
}

.callbutton {
  font-size: 100px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  gap: 10px;
  height: 30px;
  width: 200px;
  margin-top: 5%;
  padding: 9px 18px;
  font-weight: bold;
  border-radius: 3vh;
  background: linear-gradient(45deg, #5010d2, #ef3275, #ffd480);
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px #51515148);
  position: relative;
  text-shadow: rgba(22, 22, 22, 0.122) 0 0 2px;
}
.callbutton:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #300783, #a01747, #bb9750);
  transform: translate3d(0px, 5px, 0) scale(1);
  transition: opacity 0.3s;
  border-radius: inherit;
}
.callbutton::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.videocallbutton {
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 200px;
  margin-top: 5%;
  font-weight: bold;
  border-radius: 3vh;
  background: linear-gradient(to top, #df4343, #f95757 40%);
  box-shadow: 0px 5px 0 #bd3c3c;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px #51515148);
  text-shadow: rgba(22, 22, 22, 0.122) 0 0 2px;
}
.videocallbutton:hover {
  transform: translate3d(0, 5px, 0);
  color: #c0c0c0;
  box-shadow: none;
  background: #df4343;
}

.voicecallbutton {
  font-size: 100px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  gap: 10px;
  height: 30px;
  width: 200px;
  margin-top: 5%;
  padding: 9px 18px;
  font-weight: bold;
  border-radius: 3vh;
  background: linear-gradient(to top, #2b72d4, #4794ff 40%);
  box-shadow: 0px 5px 0 #1c64c8;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px #51515148);
  position: relative;
  text-shadow: rgba(22, 22, 22, 0.122) 0 0 2px;
}

.voicecallbutton:hover {
  transform: translate3d(0, 5px, 0);
  color: #c0c0c0;
  box-shadow: none;
  background: #2b72d4;
}

.voicebutton {
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 200px;
  margin-top: 5%;
  font-weight: bold;
  border-radius: 3vh;
  background: linear-gradient(to top, #2b72d4, #4794ff 60%);
  box-shadow: 0px 5px 0 #03449e;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px #51515148);
  text-shadow: rgba(22, 22, 22, 0.122) 0 0 2px;
}
.voicebutton:hover {
  transform: translate3d(0, 5px, 0);
  color: #c0c0c0;
  box-shadow: none;
  background: #03449e;
}

.nobutton {
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 200px;
  margin-top: 5%;
  padding: 9px 18px;
  font-weight: bold;
  border-radius: 3vh;
  box-shadow: 0px 5px 0 rgb(106, 106, 106);
  background: linear-gradient(to top, #848484, #9b9b9b 40%);
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px #51515148);
  text-shadow: rgba(22, 22, 22, 0.122) 0 0 2px;
}
.callbutton .videochatbutton {
  margin-left: 5%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 80px;
  margin-top: 5%;
  padding: 9px 18px;
  font-weight: bold;
  border-radius: 1vh;
  box-shadow: 0px 5px 0 #bd3c3c;
  background: linear-gradient(to top, #eb3737, #f95757 60%);
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px #51515148);
  text-shadow: rgba(22, 22, 22, 0.122) 0 0 2px;
}
.videochatbutton:hover {
  transform: translate3d(0, 5px, 0);
  color: #ffffff;
  box-shadow: none;
  background: #f95757;
}

.mo {
  font-size: 15px;
  white-space: nowrap;
}
.videomo {
  font-size: 14px;
  white-space: nowrap;
  line-height: 1.3em;
}
.smo {
  font-size: 9px;
  white-space: nowrap;
}
.momo {
  font-size: 15px;
  white-space: nowrap;
}
.pt {
  font-size: 14px;
  white-space: nowrap;
}
.spt {
  font-size: 10px;
  white-space: nowrap;
  text-decoration: line-through;
  font-weight: normal;
}
.sppt {
  filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff)
    drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff)
    drop-shadow(0 0 1px #fff);
  display: inline-block;
  background: -webkit-linear-gradient(0deg, #1dc9fd, #ff8c00, #ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 5px;
}

.name {
  color: rgb(59, 59, 59);
  font-size: 15px;
  font-weight: bold;
}
.region {
  color: rgb(59, 59, 59);
  font-size: 13px;
  font-weight: bold;
}
.about {
  color: rgb(103, 103, 103);
  font-size: 12px;
  margin-top: 3%;
}

.icon {
  position: relative;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-left: 2px;
  display: block;
  margin: 0 auto;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50px;
  margin-top: -40px;
}

.close {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.342);
  border: #5e5e5e62 1px solid;
  padding: 10px 60px 10px 60px;
  color: #3f3646;
  font-size: 20px;
  margin-top: 34px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 15px;
}
.close:hover {
  opacity: 0.6;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(39, 39, 39, 0.5);
  z-index: 600;
}
.title {
  background: linear-gradient(transparent 30%, rgb(251, 251, 139) 40%);
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
  font-size: 17px;
  white-space: nowrap;
}

.checkmodal {
  z-index: 2;
  width: 65%;
  padding: 1em;
  background: #fff;
  border-radius: 10px;
  animation: popup 0.2s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
  text-align: center;
  color: #3f3646;
  font-size: 15px;
  animation: popup 0.3s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
}

.mypage {
  background: linear-gradient(to top, rgb(43, 177, 222), #44c2eb 60%);
  color: white;
  padding: 7px 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
  margin-top: 14px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.check {
  font-size: 18px;
  margin-right: auto;
  margin-left: auto;
  text-shadow: none;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  color: #555;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
}

.shadow {
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.501));
}

@keyframes popup {
  0% {
    transform: translateY(40px) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
  }
  80%,
  100% {
    opacity: 1;
  }
}

.pointmodal {
  position: fixed;
  width: auto;
  top: 40%;
  border-radius: 8px;
  padding: 20px 10px 20px 10px;
  background-color: white;
  z-index: 1000;
  animation: popup 0.3s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
  font-size: 14px;
  color: #3f3646;
  animation: popup 0.3s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
  margin-left: auto;
  margin-right: auto;
}
.closeIcon {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 28px;
  height: 28px;
  background-color: #2e2e2e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  border: none;
  color: #ffffff;
  transition: background-color 0.3s;
  z-index: 500;
}
.on {
  font-size: 16px;
  color: #44c2eb;
  font-weight: bold;
}
.tapPurchase {
  background: linear-gradient(to top, rgb(43, 177, 222), #44c2eb 60%);
  color: white;
  padding: 7px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  border-radius: 30px;
  margin-top: 14px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.ok {
  background: linear-gradient(to top, rgb(43, 177, 222), #44c2eb 60%);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  margin-top: 14px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.permission {
  filter: drop-shadow(0 2px 3px #5151513c);
}

.event {
  font-size: 12px;
  white-space: nowrap;
  filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff)
    drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff)
    drop-shadow(0 0 1px #fff);
  bottom: 0;
  position: absolute;
  text-align: center;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2px;
  display: inline-block;

  background: -webkit-linear-gradient(0deg, #1dc9fd, #ff8c00, #ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.e {
  position: relative;
  display: flex;
  border: 2px solid #ff792c;
  border-radius: 10px;
  width: 95%;
  box-shadow: 0 0 5px #bababa;
  margin-bottom: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 70px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #fff 30%,
    #ff792c 30%,
    #ff792c 100%
  );
}
.e:hover {
  opacity: 0.6;
}
.priceContainer {
  display: flex;
  align-items: center;
}
.ptt {
  font-size: 18px;
}
.text {
  font-size: 28px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.329);
}
.special {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0.3em;
  padding-top: 20%;
}
.specialPrice {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  font-weight: bolder;
}
.specialnumber {
  color: #3a3a3a;
  font-size: 15px;
  text-shadow: none;
}
.yen0 {
  font-weight: bold;
  font-size: 10px;
  margin-left: 3px;
  color: #202020;
}
.number0 {
  font-weight: bold;
  font-size: 18px;
  color: #202020;
}
.banner {
  z-index: 2;
  position: absolute;
  right: 0;
  margin-top: -20px;
  margin-right: -10px;
  width: auto;
  height: auto;
  font-size: 13px;
  filter: drop-shadow(0px 0px 1px #51515163);
}
