.modalBackdrop {
  background-color: rgba(38, 38, 38, 0.206);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {
  background-color: #ffffffe3;
  border-radius: 20px;
  animation: popup 0.2s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
  padding: 10px;
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

/* カテゴリー選択エリア */
.categorySelector {
  display: flex;
  overflow-x: auto;
  padding: 5px 0;
  gap: 5px;
  border-bottom: 1px solid #eee;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.categorySelector::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.categoryItem {
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedCategory {
  background-color: #f0f0f0;
  border: 2px solid #e0e0e0;
}

/* スタンプグリッドエリア */
.stickerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding: 1px;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
  -webkit-overflow-scrolling: touch;
}

.stickerId {
  width: 90px;
  height: 90px;
}

@keyframes popup {
  0% {
    transform: translateY(40px) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
  }
  80%,
  100% {
    opacity: 1;
  }
}

.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #a3a3a3f5;
  border-top-color: transparent;
  animation: rot1 1.2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70%;
  width: 50px;
  height: 50px;
  z-index: 50;
  position: absolute;
  left: 50%;
}

@keyframes rot1 {
  to {
    transform: rotate(360deg);
  }
}
