.combinedHeader {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: white;
}

.title {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 19px;
  z-index: 100;
  user-select: text;
  border-bottom: 1px solid #ddd;
}

.bar {
  display: flex;
  justify-content: center;
  background: #ffffff;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.barItem {
  flex: 1;
  text-align: center;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  color: #a6a6a6;
}

.active {
  color: #545454;
  border-bottom: 3px solid #fd1851bc;
  font-size: 13px;
}
.barItem,
.active {
  flex: 1;
  text-align: center;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  margin: 0 5px;
  width: 33%;
}
